<div class="playVideoDiv">
    <video id="videoPlay" width="480" height="400" controls autoplay>
        <source src="@Url.Action("GetVideo", "UserSharedInfo", new { id = ViewBag.ID } )" />
    </video>
</div> 
